# Terraform files and directories
.terraform/
*.tf
*.tfstate
*.tfstate.backup
*.lock.hcl
tfplan
final_plan

# CI/CD and Orchestration
Jenkinsfile
deployment.yml

# Git internals
.git/
.gitignore

# Frontend (Since S3/CloudFront handles this)
index.html