# --- Infrastructure & Tooling (Avoids 'No Space Left' Errors) ---
aws/
awscliv2.zip
kubectl
terraform
terraform.exe
.terraform/
*.tf
*.tfstate*
*.lock.hcl

# --- CI/CD & Scripts ---
Jenkinsfile
deployment.yml
EKS-Toggle.ps1
EKS-Toggle.sh

# --- Git & Metadata ---
.git/
.gitignore
.dockerignore
.DS_Store

# --- Frontend Assets (Handled by S3) ---
index.html

# --- Python Environment ---
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/